# mooda - .gitignore
# by Angelo Gaeta Giovanni Stracquadanio
*

# accepted files
!.github
!.github/*
!.github/**
!docs
!docs/*
!examples
!examples/*
!examples/**
!mooda
!mooda/*
!mooda/**
!*.py
!.bumpversion.cfg
!.editorconfig
!.gitattributes
!.gitignore
!environment.yml
!requirements.txt
!LICENSE
!MANIFEST.in
!README.md
!meta.yaml

# re-ignore files/dirs
.DS_Store
.vscode
__pycache__
