# mooda - .gitignore
# by Angelo Gaeta Giovanni Stracquadanio
*

# accepted files
!docs
!docs/*
!tests
!tests/*
!tests/**
!mooda
!mooda/*
!mooda/**
!*.py
!.drone.yml
!.bumpversion.cfg
!.editorconfig
!.gitattributes
!.gitignore
!environment.yml
!requirements.txt
!LICENSE
!MANIFEST.in
!README.md
!meta.yaml
# re-ignore files/dirs
.DS_Store
.vscode
__pycache__
